.sidebar-sticky{
    margin-top: 20px;
}
.nav-item .nav-link.active {
    background-color: #fafafa;
    border-left: 2px solid red;
    color: #5f5f5f;
}
.nav-item a {
    color: #fff;
}
.nav-item .nav-link.active svg{
    color: red;
}